:root {
  --primary: #3c6382;
  --secondary: #60a3bc;
  --tertiary: #82ccdd;
  --primary-dark: #0a3d62;
  --background-light: #ecf0f1;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.articles-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .article {
    flex: 0 1 30%;
    margin: 1rem;
    min-height: 35rem;
    min-width: 30rem;
    cursor: pointer;
  }
  
  .article:hover .img-container {
    transform: scale(1.1);
  }

  .article h3 {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
  }
  
  .img-container {
    height: 30rem;
    background-size: cover;
    transition: transform 1s;
  }

  .newsfeed-container {
    display: flex;
    flex-flow: row nowrap;
  }

  .category-container {
    width: 20rem;
  }

  .category-container li {
    margin: 1rem 0;
    transition: color 0.2s;
  }

  .category-container li:hover {
    color: var(--primary);
    cursor: pointer;
  }

  .newsfeed-content h2 {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
  }

  .cat-active {
    color: var(--primary);
    font-weight: 700;
  }