:root {
  --primary: #3c6382;
  --secondary: #60a3bc;
  --tertiary: #82ccdd;
  --primary-dark: #0a3d62;
  --background-light: #ecf0f1;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.article-cover-img {
    height: 50rem;
    width: 100%;
    background-size: cover;
    border-radius: 3px;
  }
  
  .article-title {
    margin: 3rem 0;
    text-align: left;
    font-size: 5rem;
    font-weight: 400;
  }
  
  .article-content {
    white-space: pre-wrap;
  }
  
  .article-container {
    padding-bottom: 10rem;
    max-width: 80rem;
  }
  
  .article-back {
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 1rem;
    display: block;
  }

  .form-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .btn-edit {
  background-color: var(--primary);
  color: white;
  }